<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941837202432-06veeuf8iq3dsg85di8rsormark9f0iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941837202432-06veeuf8iq3dsg85di8rsormark9f0iv</string>
	<key>API_KEY</key>
	<string>AIzaSyA2E9vkJLkM34lwKmWgGcH1EBjZfB6fETU</string>
	<key>GCM_SENDER_ID</key>
	<string>941837202432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zone.jot.app</string>
	<key>PROJECT_ID</key>
	<string>jot-zone</string>
	<key>STORAGE_BUCKET</key>
	<string>jot-zone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941837202432:ios:84a9544c16c8bce199d4e5</string>
</dict>
</plist>